.main-explore {
    min-height: 950px;
    // margin-top: 80px;
    .explore-headline {
        padding-top: 85px;
        line-height: 30px;
     
        &-criteria {
            font-size: $fs14;
            padding-top: 30px;
        }

        h2 {
            font-size: $fs36;
            line-height: 30px;
            font-family: Cereal-HardBold;
            &:first-letter {
                text-transform: capitalize;
            }

        }
    }
    .explore-filter-btn {
        height: 90px;
        border-bottom: $defBorder;
        button {
            text-align: center;
            border: 1px solid #000;
            border-color: #b0b0b0;
            border-radius: 30px;
            padding: .5rem 1rem;
            font-family: Cereal-NormalBold;
            font-size: $fs14;
            background-color: #fff;
            margin-bottom: 15px;
            
            &:first-letter {
                text-transform: capitalize;
            } 
        }
        
    }

}

