.login{
    height: 66vh;
    // text-align: center;
    .btn-login-signup{
        max-width: 200px;
        align-self: flex-start;
        border: 1px solid gray;
        border-radius: 10px;
        background-color: whitesmoke;
        &:hover{
            background-color: lightgray;
        }
    }
}

.login-select{
    margin-bottom: 20px;
    button{
        background-color:lightgreen;
        border: none;
        border-radius: 10px;
        margin-left: 10px;
        color: rgb(27, 23, 23);
    }
}

.signup{
    text-align: center;
    input{
        border-radius: 3px;
        border: 1px solid rgb(15, 14, 14);
        outline: none;
        margin-bottom: 5px;
        max-width: 200px;
    }
    button{
        background-color:lightgreen;
        border: none;
        border-radius: 10px;
        // margin-left: 10px;
        color: rgb(27, 23, 23);
    }
}