.booking-modal .react-datepicker__portal .react-datepicker__current-month, .booking-modal .react-datepicker__portal .react-datepicker-time__header{
    font-size: 1rem;
}

.footer-booking-modal-container{
    position: fixed;
    top: 50px;
    width: 100%;
    &.modal-mode{
        background-color: #999898a1;
        height: 100vh;
    }
    .footer-booking-modal {
        position: fixed;
        // bottom: 200px;
        top: 50px;
        left: 0;
        right: 0;
        align-content: center;
        @media (max-width: $narrow-breakpoint) {
            .react-datepicker__month-container {
                float: none;
            }
        }
    }



}


.main-footer {
    margin-top: 18px;
    border-top: $defBorder;
    box-shadow: 0 15px 10px -15px rgba(6, 8, 12, 0.1);
    text-align: center;
    font-weight: 500;
    font-size: $fs14;
    // bottom: 0;
    // position: absolute;
    // pointer-events: auto;
    opacity: 1;
    padding: 5px;
    background-color: white;
    z-index: 1;
    @media (max-width: $narrow-breakpoint) {
        position: sticky;
        bottom: 0;
    }
    // .footer-booking-modal {
    //     position: fixed;
    //     // bottom: 200px;
    //     top: 0;
    //     left: 0;
    //     right: 0;
    //     align-content: center;
    //     background-color: white;
    //     @media (max-width: $narrow-breakpoint) {
    //         .react-datepicker__month-container {
    //             float: none;
    //         }
    //     }
    // }
    .white {
        background-color: white;
        position: sticky;
        // bottom: 0;
        padding-bottom: 5px;
        z-index: 0;
    }
    // @media (max-width: 900px) {
    //     .black {
    //         position: fixed;
    //         bottom: 0;
    //         right: 0;
    //         width: 100%;
    //         height: 100%;
    //         background-color: rgba(0, 0, 0, 0.5);
    //         cursor: pointer;
    //         pointer-events: none;
    //         opacity: 1;
    //         user-select: none;
    //         transition: opacity 0.8s;
    //     }
    // body.menu-open .main-screen {
    //     pointer-events: auto;
    //     opacity: 1;
    // }

    .btn-grad {
        background-image: (
            radial-gradient(
                circle at center center,
                rgb(255, 56, 92) 0%,
                rgb(230, 30, 77) 27.5%,
                rgb(227, 28, 95) 40%,
                rgb(215, 4, 102) 57.5%,
                rgb(189, 30, 89) 75%,
                rgb(189, 30, 89) 100%
            )
        );
    }
    .reserved {
        background-color: rgb(88, 160, 88);
    }
    .btn-grad,
    .reserved {
        border: none;
        box-sizing: border-box;
        padding: 10px 20px;
        text-align: center;
        transition: 0.8s;
        background-size: 200% auto;
        color: white;
        box-shadow: 0 0 20px #eee;
        border-radius: 10px;
        display: block;
        font-family: Cereal-MediumBold;
        font-size: 14px;
    }
}
