.main-header {
    box-shadow: 0 15px 10px -15px rgba(19, 20, 22, 0);
    position: fixed;
    top: 0;
    z-index: 1;
    font-family: Cereal-MediumBold;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 30px;
    transition: 0.1s;
    .logo {
        width: fit-content;
        & img {
            width: 80px;
            object-fit: cover;
        }
        @media (max-width: $narrow-breakpoint) {
            display: none;
        }
    }

    .go-back{
        display: none;
    }

    @media (max-width: $narrow-breakpoint) {
        .go-back {
            display: flex;
            align-items: center;
            padding-bottom: 20px;
            padding-top: 20px;
        }
    }

    .main-nav {
        min-width: 150px;
        a {
            color: white;
            margin-left: 20px;
        }
        @media (max-width: $narrow-breakpoint) {
            display: none;
            // min-width: 260px;
        }
    }
    .user-menu {
        width: 77px;
        height: 42px;
        margin-left: 15px;
        border: 1px solid #dddddd;
        justify-content: center;
        position: relative;
        background-color: #ffffff;
        border-radius: 21px;
        vertical-align: middle;
        padding: 5px 5px 5px 12px;
    }
    .hamburger-header {
        width: 16px;
        height: 16px;
        cursor: pointer;
        font-weight: 500;
        color: #717171;
    }
    .avatar-home-user {
        width: 30px;
        height: 30px;
        cursor: pointer;
        margin-left: 10px;
        border-radius: 50%;
        margin-right: 5px;
    }

    .avatar-home {
        width: 30px;
        height: 30px;
        cursor: pointer;
        margin-left: 10px;
        border-radius: 50%;
        margin-right: 5px;
    }
}
///test
.white {
    box-shadow: 0 15px 10px -15px rgba(19, 20, 22, 0.1);
    z-index: 4;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    font-family: Cereal-MediumBold;
    font-size: 14px;
    font-weight: 600;
    background-color: #ffffff;
    // transition: 0.05s;
    .main-nav {
        a {
            color: #222222;
        }
    }
}

.no-display {
    display: none;
}
