.main-header {
    // text-transform: uppercase;
    box-shadow: 0 15px 10px -15px rgba(19, 20, 22, 0);
    z-index: 1;
    // font-family: Cereal-MediumBold;
    font-size: 14px;
    font-weight: 600;
    .logo {
        // width: 50%;
        width: fit-content;
        & img {
            max-width: 110px;
            object-fit: cover;
        }
      
    }
    .main-nav {
        // width: 30%;
        min-width: 300px;
        a {
            color: white;
        }
        @media (max-width: $narrow-breakpoint) {
            display: none;
        }
    }
    .user-menu {
        width: 77px;
        height: 42px;
        border: 1px solid #dddddd;
        justify-content: center;
        position: relative;
        background-color: #ffffff;
        border-radius: 21px;
        vertical-align: middle;
        padding: 5px 5px 5px 12px;
    }
    .hamburger-header {
        width: 16px;
        height: 16px;
        font-weight: 500;
        color: #717171;
    }
    .avatar-home-user {
        width: 30px;
        height: 30px;
        cursor: pointer;
        margin-left: 10px;
        border-radius: 50%;
        margin-right: 5px;
    }

    .avatar-home {
        width: 30px;
        height: 30px;
        cursor: pointer;
        margin-left: 10px;
        border-radius: 50%;
        margin-right: 5px;
    }
}

.white {
    box-shadow: 0 15px 10px -15px rgba(19, 20, 22, 0.1);
    z-index: 1;
    position: fixed;
    right: 0;
    left: 0;
    // font-family: Cereal-MediumBold;
    font-size: 14px;
    font-weight: 600;
    background-color: #ffffff;

    // .logo {
    //     // width: 50%;
    //     width: fit-content;
    //     & img {
    //         max-width: 120px;
    //         object-fit: cover;
    //         margin-left: -5px;
    //         margin-top: 5px;
    //     }
    //     @media (max-width: $narrow-breakpoint) {
    //         width: 100%;
    //     }
    // }

    .main-nav {
        // width: 30%;
        min-width: 300px;
        a {
            color: #222222;
        }
        @media (max-width: $narrow-breakpoint) {
            display: none;
        }
    }
    .user-menu {
        width: 77px;
        height: 42px;
        border: 1px solid #dddddd;
        justify-content: center;
        position: relative;
        background-color: #ffffff;
        border-radius: 21px;
        vertical-align: middle;
        padding: 5px 5px 5px 12px;
    }
    .hamburger-header {
        width: 16px;
        height: 16px;
        font-weight: 500;
        color: rgb(113, 113, 113);
    }
    .avatar-home-user {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
        cursor: pointer;
        margin-right: 5px;
    }

    .avatar-home {
        width: 30px;
        height: 30px;
        cursor: pointer;
        margin-left: 10px;
        border-radius: 50%;
    }
}
