.main-home-header {
    // text-transform: uppercase;
    box-shadow: 0 15px 10px -15px rgba(19, 20, 22, 0);
    // position: sticky;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;
    font-family: Cereal-MediumBold;
    font-size: 14px;
    font-weight: 600;
    // transition: 0.1s;

    .trip-filter {
        &.for-header {
            position: static;
            margin-top: 8px;
            margin-bottom: 8px;
        }
    }

    .logo {
        width: fit-content;
        & img {
            width: 80px;
            object-fit: cover;
        }
    }
    .main-nav {
        // width: 30%;
        min-width: 150px;
        a {
            color: white;
            margin-left: 20px;
        }
        @media (max-width: $narrow-breakpoint) {
            // display: none;
            min-width: 260px;
        }
    }
    .user-menu {
        width: 77px;
        height: 42px;
        margin-left: 15px;
        border: 1px solid #dddddd;
        justify-content: center;
        position: relative;
        background-color: #ffffff;
        border-radius: 21px;
        vertical-align: middle;
        padding: 5px 5px 5px 12px;
    }
    .hamburger-header {
        width: 16px;
        height: 16px;
        cursor: pointer;
        font-weight: 500;
        color: #717171;
    }
    .avatar-home-user {
        width: 30px;
        height: 30px;
        cursor: pointer;
        margin-left: 10px;
        border-radius: 50%;
        margin-right: 5px;
    }

    .avatar-home {
        width: 30px;
        height: 30px;
        cursor: pointer;
        margin-left: 10px;
        border-radius: 50%;
        margin-right: 5px;
    }

    &.white {
        box-shadow: 0 15px 10px -15px rgba(19, 20, 22, 0.1);
        z-index: 200;
        position: fixed;
        top: 0;
        // left: 0;
        // right: 0;
        font-family: Cereal-MediumBold;
        font-size: 14px;
        font-weight: 600;
        background-color: #ffffff;
        // transition: 0.05s;



        @media (min-width: $normal-breakpoint) {
            .item {
                flex: 1 1 0;
            }
            .logo {
                display: hidden;
            }
        }

        .top-filter {
            justify-content: center;
            .start-search {
                background-color: transparent;
                border: 1px solid #dddddd;
                border-radius: 40px;
                color: #222222;
                box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 4px 12px rgba(0, 0, 0, 0.05);
                width: 300px;
                padding-left: 8px;
                text-align: left;
                height: 48px;
                font-size: 14px;
                font-family: inherit;
                align-items: center;

                .text {
                    padding-left: 16px;
                }
                .search-btn {
                    margin: 0;
                    width: 32px;
                    height: 32px;
                }

                // div{
                //     flex: 1 1 auto;
                // }
            }
        }


        .main-nav {
            justify-content: flex-end;
            a {
                color: #222222;
            }
        }
    }
}
