@font-face {
    font-family: roboto;
    src: url(../font/roboto/Roboto-Regular.ttf);
}


@font-face {
    font-family: Cereal-light;
    src: url(../font/Circular/airbnbFont/AirbnbCerealLight.ttf);
}

@font-face {
    font-family: Cereal-NormalBold;
    src: url(../font/Circular/airbnbFont/AirbnbCerealBook.ttf);
}

@font-face {
    font-family: Cereal-MediumBold;
    src: url(../font/Circular/airbnbFont/AirbnbCerealMedium.ttf);
}

@font-face {
    font-family: Cereal-HardBold;
    src: url(../font/Circular/airbnbFont/AirbnbCerealBold.ttf);
}

@font-face {

    font-family: Cereal-VeryBold;
    src: url(../font/Circular/airbnbFont/AirbnbCerealBlack.ttf);
}




@font-face {
    font-family: Cereal-Maxbold;
    src: url(../font/Circular/airbnbFont/AirbnbCerealExtraBold.ttf);
}