$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 1080px;


//General
// $rateStarCol:#ff385c;
$rateStarCol:rgb(255, 56, 92);
$fontDefColor:#222222;
$defBorder:1px solid #e6e0e0;


//Explore:

//Color
$grayArticle:#717171;



//Sizes:
$fs42:rem(42px);
$fs40:rem(40px);
$fs36:rem(36px);
$fs32:rem(32px);
$fs18:rem(18px);
$fs16:rem(16px);
$fs14:rem(14px);
$fs13:rem(13px);
$fs12:rem(12px);
$fs10:rem(10px);